services:
    mysql:
        image: mysql:8.0.34
        ports:
            - '3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: laravel
        volumes:
            - mysql-data:/var/lib/mysql

    web:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - '80:80'
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
            - /var/www/html/vendor # Prevents vendor from being overwritten by the host
        depends_on:
            - mysql
volumes:
    mysql-data:
